@page "/pictures"

<PageTitle>Pictures</PageTitle>

<h1>Pictures</h1>

Where we will keep pictures from the trip, these are from scotland


<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="@imageSource[0]" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="@imageSource[1]" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="@imageSource[2]" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

@code {
    private string[] imageSource = new string[]{"Pictures/Scotland1.jpeg","Pictures/Scotland2.jpeg","Pictures/Scotland3.jpeg"};

}
